// Заголовки, общие БЄМ блоки и проче...
.page {
	background: #1C121F;
	
	&__main-block {
		position: relative;
	}
	&__partners {
	}
	&__auctions {
	}
	&__how-works {
		position: relative;
	}
	&__collections {
	}
	&__categories {

	}
	&__creators {
	}
}

.button {
	background: rgba(233, 215, 167, 0.1);	
	border: 1px solid #FFCE4E;
	@include adaptiveValue("height", 84, 60);
	@include adaptiveValue("width", 257, 160);
	@include adaptiveValue("font-size", 28, 20);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	
	line-height: math.div(36 , 28);
	transition: all 0.3s ease 0s;
	@media (max-width:$mobileSmall){
		background: #594846; 
	}

	
	&__active{
		background: #FFCE4E;
		color: #000000;
		
	}
	
	@media (any-hover: hover){
		&:hover{
			background: #FFCE4E;
		color: #000000;
		}
	}
}
span {
	color: #FFCE4E;
}


.hold {
	pointer-events: none;
}




//========================================================================================================================================================



