//====================================================================================================

.main-block {
	background: #1C121F;
	@include adaptiveValue("padding-top", 242, 55);
	position: relative;
	
	@media (max-width:$mobileSmall){
		padding-top: rem(128);
	}
	&::after{
		content:'';
		background: rgba(79, 70, 78, 0.45);
		backdrop-filter: blur(15px);
		position: absolute;
		z-index: 3;
		width: 200%;
		left: 51.48%;
		top: 0;
		height: 100%;
		@media (max-width:$mobile){
			left: 0;
			top: 47%;
			height: rem(450);
		}
		@media (max-width:$mobileSmall){
			 left: 0;
			 top: rem(419); 
			 height: rem(501);
		}
		
	}

	&__container {
		display: grid;
		
		grid-template-columns: 1fr 1fr;
		
		@media (max-width:$tablet){
			display: flex;
			flex-direction: column;
			align-items: center;			
			
		}
		
	}
	&__lights{
		
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		right: 0;
		top: 0;
		
	}


	&__content {
		z-index: 50;
		
		@media (max-width:$tablet){		
			align-items: center;
			justify-items: center;		
		}
		@media (max-width:$mobileSmall){
			display: flex;
			flex-direction: column;
		
			&::after{
				content:'';
				position: absolute;
				top: rem(93);
				left: 0;
				width: 100%;
				height: rem(326);
				display: inline-block;
				background: linear-gradient(179.78deg, #1C121F 9.98%, rgba(28, 18, 31, 0.21) 81.39%), url('img/main-block/main-block_mobile_background.svg') no-repeat;	
				background-size:cover;		
				background-blend-mode: normal, color-dodge;
				
				opacity: 0.55;
				z-index: 1;
			} 
		}
	}

	&__header {
		font-family: 'Oxanium';
		font-weight: 700;
		position: relative;
		@include adaptiveValue("font-size", 85, 42);
		
		line-height: math.div(130 , 85);
		@include adaptiveValue("margin-bottom", 77, 60);		
		@media (max-width:$tablet){
			text-align: center;
			
		}
		@media (max-width:$mobileSmall){
			line-height: math.div(63 , 42);
			z-index: 50;
			
		}
		
		

		

	}

	&__actions {
		display: flex;
		@include adaptiveValue("padding-bottom", 121, 80);
		@media (max-width:$tablet){
			justify-content: center;
		}
		@media (max-width:$mobile){
			padding-bottom: rem(40); 
		}
		@media (max-width:$mobileSmall){
			 padding-bottom: 0; 
			 
		}
	}

	&__button {
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 48, 20);
		}
		@media (max-width:$tablet){
			justify-content: center;
			z-index: 50;
		}
	}

	&__amount {
		
	}

	&__decor {
		
	}

	&__lights {
	}
}

.amount {
	display: flex;
	align-items: center;

	@media (max-width:$tablet){
		justify-content: center;
	}

	@media (max-width:$mobile){
		 padding-top: rem(50); 
		 z-index: 50;
	}
	@media (max-width:$mobileSmall){
		padding-top: rem(94); 
	}

	&__item {

		&:not(:last-child) {
			@include adaptiveValue("padding-right", 104, 39);
		}
	}

	&__number {
		font-family: 'Oxanium';	
		font-weight: 700;
		@include adaptiveValue("font-size", 62, 30);		
		line-height: math.div(78 , 62);
		color: #F5FBF2;
	}

	&__name {
		@include adaptiveValue("font-size", 24, 14);		
		line-height: math.div(35 , 24);
		color: #9B9E9A;
	}
}
.decor {
	z-index: 50;
	@include adaptiveValue("padding-left", 95, 30);

	@media (max-width:$tablet){
		padding-left: 0;
		padding-top: rem(53);
	}
	@media (max-width:$mobile){
		  
	}

	&__body {
		position: relative;	
		display: grid;
		align-content: center;
		
	}

	&__image {
		width: rem(556);
		height: rem(718);		
		background: url('img/main-block/main-block_decor_image.png') 0 0 no-repeat;		
		position: relative;

		@media (max-width: em(1249)){					
			width: rem(383);
			height: rem(578);	
		}
		@media (max-width:$mobile){
			width: rem(283);
			height: rem(378);
		}
		
	}	

	&__top {
	}

	&__bottom {
	}
}
.top-decor {
	display: flex;
	align-items: center;
	
	margin: rem(24)  rem(22);
	position: absolute;	
	padding: rem(18) rem(54) rem(17) rem(39);	

	background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
	opacity: 0.95;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
	backdrop-filter: blur(22.5px);

	@media (max-width:$mobile){
		padding: rem(10) rem(11) rem(9) rem(21);	
		border-radius: 5px;
		background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
		opacity: 0.95;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(22.5px);
	}

	&__item {
		display: grid;
		&:not(:last-child) {
			margin-right: rem(190);
			
			@media (max-width: em(1249)){
				margin-right: rem(45);
			}
			@media (max-width:$mobile){
				margin-right: rem(45);

			}
		}
	}

	&__name {
		font-family: 'Oxanium';
		font-style: normal;
		font-weight: 500;
		font-size: rem(18);
		line-height: math.div(22 , 18);
		letter-spacing: 0.08em;
		text-transform: capitalize;
		color: #E4DEE7;

		@media (max-width: em(1249)){
			font-size: rem(16);
		}
		@media (max-width:$mobile){
			font-size: rem(16);
			line-height: math.div(20 , 16);
		}
	
	}

	&__number {
		
		&:not(:last-child) {
			@include adaptiveValue("padding-top", 10, 6);
		}
		font-family: 'Oxanium';
		font-weight: 700;
		font-size: rem(32);		
		line-height: math.div(40 , 32);
		@media (max-width: em(1249)){
			font-size: rem(28);
		}
		@media (max-width:$mobile){
			font-size: rem(22);
			line-height: math.div(28 , 22);
		}

	}
}
.bottom-decor {

	display: flex;
	position: absolute;
	bottom: 0;
	padding: rem(35) rem(39) rem(35) rem(60);
	align-items: center;	
	background: #fff;
	gap: rem(167);
	@media (max-width: em(1249)){
		column-gap: rem(44);
		row-gap: rem(27);
		padding: rem(16) rem(39) rem(19) rem(60);
		
	}
	@media (max-width:$mobile){
		column-gap: rem(36);
		row-gap: rem(27);
		padding: rem(16) rem(27) rem(19) rem(44);
	}
	

	&__item {
		display: grid;
		
		
	}

	&__artist {
		font-family: 'Oxanium';
		font-weight: 600;
		font-size: rem(28);
		
		
		line-height: math.div(35 , 28);
		letter-spacing: 0.07em;
		color: #16091B;
		@media (max-width: em(1249)){
			font-size: rem(20);
			
		}
		@media (max-width:$mobile){
			font-size: rem(18);
			
		}

	}

	&__contacts {
		font-style: normal;
		font-weight: 400;
		font-size: rem(24);
			
		line-height: math.div(35 ,24 );
		color: #594D5E;
		@media (max-width: em(1249)){
			font-size: rem(18);
			
		}
		@media (max-width:$mobile){
			font-size: rem(14);
			
		}
	}

	&__button {
		font-style: normal;
		font-weight: 700;
		font-size: rem(24);		
		line-height: math.div(28 , 24);
		background: #FFCE4E;
		color: #000000;
		transition: all 0.3s ease 0s;
		padding: rem(23) rem(45) ;

		@media (any-hover: hover){
			&:hover{
					color: #FFCE4E;
					background: #1C121F;
					
			}
		}
		@media (max-width: em(1249)){
			font-size: rem(18);
			
		}
		
		@media (max-width:$mobile){
			font-weight: 600;
			padding: rem(11.5) rem(25.4);
			font-size: rem(16);
			line-height: math.div(19, 16);
		}
	}
}


.lights-main-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	

	&__item {
		position: absolute;
		&_1 {
			left: 78.4%;
			top: rem(66);
			width: rem(334);
			height: rem(188);
			background: rgba(96, 231, 206, 0.5);
			filter: blur(225px);
			transform: rotate(-4.93deg);
			@media (max-width:$mobileSmall){
				top: -100%;
			}
		}

		&_2 {
			left: 59.34%;
			top: 68.93%;

			width: rem(312);
			height: rem(312);
			background: #BB00AB;
			filter: blur(175px);
			transform: rotate(-4.93deg);
			@media (max-width:$mobileSmall){
				left: 59.34%;
				top: 48.93%; 
			}
		}

		&_3 {
			left: 0.04%;
			top: 70.54%;
			width: rem(402);
			height: rem(208);
			background: rgba(231, 178, 38, 0.8);
			filter: blur(225px);
			transform: rotate(-4.93deg);
			@media (max-width:$mobileSmall){
				 top: 0; 
			}
		}

		&_4 {
			left: 66.53%;
			top: 80.29%;
			width: rem(445.87);
			height: rem(247.58);
			background: rgba(96, 231, 206, 0.67);
			filter: blur(225px);
			transform: matrix(-0.75, -0.59, 0.72, -0.76, 0, 0);
			@media (max-width:$mobileSmall){
				top: 70.29%;
				left: 36.53%;
			}
		}

		&_5 {
			left: 92.42%;
			top: 63.97%;
			width: rem(445);
			height: rem(227.09);
			background: #D53D5C;
			filter: blur(225px);
			transform: matrix(-0.75, -0.59, 0.72, -0.76, 0, 0);
			@media (max-width:$mobileSmall){
				top: 20.93%;
			}
		}

		&_6 {
			left: 90.25%;
			top: 92.58%;
			width: rem(445px);
			height: rem(227.09);
			background: rgba(231, 178, 38, 0.83);
			filter: blur(225px);
			transform: matrix(-0.75, -0.59, 0.72, -0.76, 0, 0);
			@media (max-width:$mobileSmall){
				left: 90.25%;
				top: 92.58%;
			}
		}
	}
}

//====================================================================================================

.partners {
	position: relative;
	
	@include adaptiveValue("padding-top", 195, 74);
	@include adaptiveValue("padding-bottom", 147, 92);
	
	
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		
	
	}

	&__navigation {
		position: absolute;
		@include adaptiveValue("top", -75, -30);
		
		left: 47.8%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(156);
		height: rem(156);
		background: rgba(109, 91, 114, 0.4);
		box-shadow: 0px 14px 79px rgba(134, 19, 165, 0.1);
		backdrop-filter: blur(20px);
		border-radius: 50%;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				border: 1px solid rgb(255, 206, 78);
				box-shadow: 0px 10px 50px rgba(255, 206, 78, 0.4);
			}
		}
		@media (max-width:$tablet){
			display: none;
		
		}

	}

	&__companies {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 132, 52);
		align-items: center;
		@media (max-width:$tablet){
		justify-content: space-evenly;			
		}
		@media (max-width:$mobileSmall){
			display: grid;
			grid-template-columns: 1fr 1fr; 
			transform: scale(55%);
			row-gap: rem(46);
			column-gap: rem(88);
			
		}
		
	

	}

	&__company {
		flex: 0 0 auto	;
		@media (max-width:$mobileSmall){
			 justify-self: center; 
		}
	}
}

//========================================================================================================================================================

.auctions {
	background: linear-gradient(336.61deg, #251928 16.25%, rgba(37, 25, 40, 0) 91.6%);
	position: relative;
	padding: rem(80) rem(0);
	&__container {
		display: flex;
		flex-direction: column;
		
	}

	&__header {
		position: relative;
		z-index: 50;
		display: flex;
		
		justify-content: center;
		font-family: 'Oxanium';
		font-style: normal;
		font-weight: 700;
		font-size: rem(64);
		line-height: math.div(130 , 64);
		max-width: rem(449);
		align-self: center;
		&::before{
			content:'';
			width: rem(110);
			height: rem(110);
			background: #8613A5;
			border-radius: 50%;
			position: absolute;
			top: rem(10);
			left: rem(-40);
			z-index: -1;
			
		}
		@media (max-width:$mobile){
			 padding-bottom: rem(80); 
			 font-size: rem(44);
			 &::before{
				width: rem(70);
			height: rem(70);
			top: rem(10);
			left: rem(-20);
			 }

		}


	}


	&__content {
		z-index: 50;
		position: relative;
		display: flex;
		
		@include adaptiveValue("padding-top", 84, 48);
		@include adaptiveValue("padding-bottom", 84, 48);
	}

	&__slider {
		min-width: 0;
		
	
	}

	&__wrapper {
		display: flex;	
		
	}
	

		&__navigation {
			position: absolute;
			top: rem(-42);
			right: 0;
			display: flex;
			gap: rem(28);
			
		}



	&__slide {
		min-width: rem(495);	
		
		
		
		@media (max-width: em(1267.99)){
			min-width: 0;
		}
		@media (max-width:$mobile){
			
		}
		
	}

	&__card {
		display: flex;
		flex-direction: column;
		padding: rem(32) rem(32) rem(28) rem(32);
		background: #3D2942;
	}

	&__all {
		
		background:none;	
		align-self: center;
		font-weight: 500;
		font-size: rem(30);
		line-height: math.div(35 , 30);		
		letter-spacing: 0.05em;		
		color: #F5FBF2;
		@media (max-width: em(1267.99)){
			@include adaptiveValue("margin-top", 80, 30);
		}
		@media (max-width:$mobile){
			margin-top: rem(30);
		}
		
	}

	&__lights {
		
		position: absolute;
		left: 13.06%;
		right: 72.69%;
		top: 5.11%;
		bottom: 77.56%;

		background: rgba(231, 178, 38, 0.7);
		filter: blur(225px);
	}
}
.swiper {
	
}
.swiper-wrapper {
}
.swiper-slide {
}



.card-auctions {

	&__image {
		width: rem(431);
		height: rem(359);
		@media (max-width: em(1267.99)){			
			width: 100%;
			height: 100%;	

			img{				
				width: 100%;
				height: 100%;;
			}
		}
		@media (max-width:$tablet){
			width: 100%;
			height: 100%;		

			img{
				height: 100%;
				width: 100%;
			}
		}
		

	}

	&__attribution {
	}

	&__bid {
		
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: rem(21) rem(144);
		background: rgba(233, 215, 167, 0.1);
		
		outline: 1px solid #FDE8B3;;
		font-weight: 500;
		font-size: rem(24);
		line-height: math.div(35 , 24);
		letter-spacing: 0.05em;
		color: #FFFFFF;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				background:  #FDE8B3;
				color: #3D2942;
			}
		}
		@media (max-width: em(1267.99)){
			font-size: rem(20);
			padding: rem(21) rem(94);
		}
		@media (max-width:$tablet){
			padding: rem(21) rem(64);
		}
	}
	&__more{
		align-self: center;

	}
}
.image-card-auctions {
	position: relative;

	&__time {
		position: absolute;
		padding: rem(16) rem(46);
		background: linear-gradient(125.33deg, #8613A5 18.61%, rgba(250, 250, 250, 0.65) 137.4%);
		opacity: 0.95;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
		backdrop-filter: blur(22.5px);
		left: 0;
		bottom: 0;
		font-weight: 600;
		font-size: rem(24);
		line-height: math.div(35, 24);
		letter-spacing: 0.02em;		
		@media (max-width: em(1267.99)){
			padding: rem(8) rem(26);
			font-size: rem(20);
		}
	}
}
.attribution-card-auctions {
	@include adaptiveValue("padding-top", 28, 10);
	@include adaptiveValue("padding-bottom", 28, 10);
	display: flex;
	justify-content: space-between;

	&__author {
		display: flex;
		gap: rem(16);
	}

	&__avatar {
		
	}

	&__info {
		
	}

	&__title {
		font-weight: 500;
		font-size: 28px;
		line-height: math.div(35 , 28);		
		color: #F5FBF2;
		@media (max-width: em(1267.99)){
			font-size: 20px;
		}
	}

	&__contacts { 
		
			font-weight: 400;
			font-size: 20px;
			line-height: math.div(35 , 20);			
			color: #BDAAC1;
			@media (max-width: em(1267.99)){
				font-size: 16px;
			}
	}
}

.info-card-auctions {

	&__likes {
		
	}
}

.likes-info-card-auctions {
	display: flex;
	align-items: center;
	justify-content: center;


	&__icon {
		&:not(:last-child) {
			 padding-right: rem(9);
		}
	}

	&__amount {

		font-weight: 400;
		font-size: rem(32);
		line-height: math.div(35 , 32);
		top: 0;
		color: #76607A;
		@media (max-width: em(1267.99)){
			font-weight: 300;
		}
	}
}
.bid-card-auctions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include adaptiveValue("padding-bottom", 40, 20);

	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: math.div(35 , 24);
		color: #C6BFC8;
		@media (max-width: em(1267.99)){
			font-size: 20px;
		}
	}

	&__crypto {
		font-family: 'Oxanium';
		font-weight: 700;
		font-size: rem(24);
		line-height: math.div(35 , 24);
		color: #F5FBF2;
		@media (max-width: em(1267.99)){
			font-size: 20px;
		}	
	}

}

.swiper-button-prev {	
	height: rem(54);
	width: rem(54);
	transform:rotate(180deg);
}
.swiper-button-prev.swiper-button-disabled{
	transition: all 0.3s ease 0s;
	opacity: 0.25;
	cursor: default;
	
}
.swiper-button-next {
	height: rem(54);
	width: rem(54);
	
}
.swiper-button-next.swiper-button-disabled{
	transition: all 0.3s ease 0s;
	opacity: 0.25;
	cursor: default;
}
.lights-auctions {

	&__item {
	}
}

//========================================================================================================================================================


.how-works {
	padding: rem(185) rem(0) rem(174) rem(0);
	&__container {
	}

	&__header {
		font-family: 'Oxanium';
		font-weight: 700;
		font-size: rem(64);
		line-height: math.div(130 , 64);
		text-align: center;
		padding-bottom: rem(24);
	}

	&__columns {
		display: flex;
		@include adaptiveValue("gap", 77, 10);
		
		align-items: center;
		justify-content: center;
		@media (max-width:$tablet){
			flex-direction: column;
			gap: rem(70);
		}
	}
	

	&__column {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(32);
		&:not(:last-child) {
			&::after{
				position: absolute;
				content:'';
				border-bottom: 2px dashed #794187;				
				top: rem(55);				
				@include adaptiveValue("left", 208, 85);
				@include adaptiveValue("width", 166, 50);
			}

			&::before{
				position: absolute;
				content:'';
				background: #794187;
				top: rem(50);
				left: rem(374);
				height: rem(12);
				width: rem(12);
				transform: rotate(45deg);
				@include adaptiveValue("left", 374, 120);
			}
		}
		@media (max-width:$tablet){
			&:not(:last-child) {
				&::after{
					transform: rotate(90deg);
					width: rem(66);
					@include adaptiveValue("top", 195, 210);
					@include adaptiveValue("left", 75, 30);
					
				}
				&::before{
				
					top: rem(220);
					left: rem(82);
					@include adaptiveValue("top", 250, 230);
					@include adaptiveValue("left", 103, 56);
				}
			}
			

		}
		
	}

	&__icon {
		position: relative;
		background: #372839;
		border-radius: 50%;
		@include adaptiveValue("height", 106, 80);
		@include adaptiveValue("width", 106, 80);
		
		display: flex;
		align-items: center;
		justify-content: center;


		
		
	}

	&__description {

		font-weight: 600;
		@include adaptiveValue("font-size", 24, 14);
		
		line-height: math.div(28 , 24);
		color: #FFCE4E;
		@media (max-width: em(1200)){
			  text-align: center;
		}
		
	}

	&__column-decor {
		
		
	}

	&__lights {
	}
}
.lights-how-works {

	&__item {
		position: absolute;
		left: 50.26%;
		right: 36.87%;
		top: 0%;
		bottom: 49.24%;
		background: #D53D5C;
		filter: blur(225px);
	}
}


//========================================================================================================================================================


.collections {

	@include adaptiveValue("padding-bottom", 104, 50);
	position: relative;
	&__container {
	
		display: flex;
		flex-direction: column;
		
	}

	&__header {
		position: relative;
		z-index: 50;		
		justify-content: center;
		font-family: 'Oxanium';
		font-style: normal;
		font-weight: 700;		
		font-size: rem(64);
		line-height: math.div(130 , 64);
		align-self: center;
		
		&::before{
			content:'';
			width: rem(110);
			height: rem(110);
			background: #E03054;
			border-radius: 50%;
			position: absolute;
			top: rem(10);
			left: rem(-40);
			z-index: -1;
			
		}
		@media (max-width:$mobile){
			padding-bottom: rem(80); 
			font-size: rem(40);
			
			
				&::before{
					width: rem(70);
					height: rem(70);
					top: rem(3);
					left: rem(-15);
				}

	  }
	}
	&__content{
		position: relative;
		display: flex;
		z-index: 50;
		@include adaptiveValue("padding-top", 106, 50);
		
		padding-bottom: rem(84);
		
		
	}
	&__slider {
		@media (max-width:$tablet){
			
		}

		min-width: 0;
	}

	&__wrapper {
		display: flex;	
	}

	&__slide {
		transition: all 0.3s ease 0s;
		min-width: rem(525);
		@media (max-width: em(1268)){
			min-width: 0;		

		}
		
		
	}

	&__card {
		padding: rem(36);
		display: flex;
      flex-direction: column;
		background-color: rgba(61, 41, 66, 0.8);
		@media (max-width: em(1268)){
			padding: rem(15);
		}
	}

	&__navigation {
	}
	&__swiper-button-prev {
		position: absolute;
		top: rem(286);
		right: rem(81);
		transform: rotate(180deg);
		display: none;
	}
	&__swiper-button-next {
		position: absolute;
		top: rem(286);
		right: rem(81);
	}
	
	

	&__all {
		align-self: center;
		
	}

	&__lights {
		width: rem(180);
		height: rem(167);
		position: absolute;
		left: 30%;
		right: 73.8%;
		top: 13.02%;
		bottom: 0%;

		background: #60E7CE;
		filter: blur(225px);
	}
}
.collections__slide.swiper-slide-next {
	opacity: 50%;
	pointer-events: none;
	@media (max-width: em(1260)){
		  opacity: 100%;
		  pointer-events: all;
	}
}
.swiper {
	
}
.swiper-wrapper {
}
.swiper-slide {
	
}
.card-collections {


	&__image {
		flex-shrink: 0;
		position: relative;
		@media (max-width: em(1085)){
			  
		}
		img{
			
			
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		
	}

	&__attribution {
		padding-top: rem(24);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.attribution-card-collections {

	&__author {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 16, 10);
		gap: rem(16);
	}

	&__avatar {
		
		img{
			width: 100%;
			height: 100%;
		}
	}

	&__contacts {
		@include adaptiveValue("font-size", 32, 20);
		font-weight: 500;
		
		line-height: math.div(36 , 32);
		color: #F5FBF2;
	}

	&__description {		
		font-weight: 600;
		font-size: rem(20);
		@include adaptiveValue("font-size", 20, 15);
		line-height: math.div(35 , 20);
		color: #C2B5C6;
	}
}

.button {
}
.lights-collections {

	&__item {
	}
}

//========================================================================================================================================================

.categories {
	background-color: #251928;
	position: relative;
	padding: rem(80) rem(0);
	

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__header {
		position: relative;
		z-index: 50;
		display: flex;		
		justify-content: center;
		font-family: 'Oxanium';
		font-style: normal;
		font-weight: 700;
		font-size: rem(64);
		line-height: math.div(130 , 64);
		
		align-self: center;
		&::before{
			content:'';
			width: rem(110);
			height: rem(110);
			background: #8613A5;
			border-radius: 50%;
			position: absolute;
			top: rem(10);
			left: rem(-40);
			z-index: -1;
			
		}
		@media (max-width:$mobile){
			padding-bottom: rem(40); 
			font-size: rem(34);
			
			
				&::before{
					width: rem(70);
					height: rem(70);
					top: rem(0);
					left: rem(-20);
				}

	  }
	}

	&__content {
		z-index: 50;
		position: relative;
		display: grid;
		
		@include adaptiveValue("padding-top", 84, 48);
		@include adaptiveValue("padding-bottom", 84, 48);
	}

	&__slider {
		min-width: 0;
		padding-bottom: rem(84);
	}

	&__wrapper {

	}

	&__slide {
		max-width: rem(415);
		opacity: 50%;
		pointer-events: none;
		transition: all 0.3s ease 0s;
		@media (max-width:$mobile){
			min-width: 0;
			max-width: none;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		padding: rem(32) rem(32) rem(28) rem(32);
		background: #3D2942;
		@media (max-width:$mobile){
			padding: rem(15); 
		}
		
	}
	&__all{
		
		justify-self: center;
	}
}
.categories__slide.swiper-slide-prev {
	opacity: 100%;
	pointer-events: all;

}
.categories__slide.swiper-slide-active {
	opacity: 100%;
	pointer-events: all;
}
.categories__slide.swiper-slide-next {
	opacity: 100%;
	pointer-events: all;
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.card-categories {

	&__image {
		width: rem(351);
		height: rem(306);

		
		@media (max-width: em(1267.99)){			
			width: 100%;
			height: 100%;
			img{				
				width: 100%;
				height: 100%;
			}
		}
		@media (max-width:$tablet){
			width: 100%;
			height: 100%;
			img{
				height: 100%;
				width: 100%;
			}
		}
	}

	&__attribution {
	}

	&__bid {
	}
}
.image-card-categories {
	position: relative;

	&__bid{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		transition: all 0.3s ease 0s;
		opacity: 0;
		@media (any-hover: hover){
			&:hover{
				opacity: 1;
			}
		}
	}
	&__backgroud{
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 50%;
		z-index: 50;
		position: absolute;
		
	
	}

	&__button {
		z-index: 50;
		position: absolute;
		padding: rem(21) rem(58);
		background: #FFCE4E;
		left:  14%;
		top: 45%;
		color: #000000;		 
		font-weight: 600;
		font-size: rem(24);
		line-height: math.div(28 , 24);
			
		transition: all 0.3s ease 0s;

	
	}
	
}
.attribution-card-categories {
	@include adaptiveValue("padding-top", 16, 10);
	@include adaptiveValue("padding-bottom", 24, 10);
	display: flex;
	justify-content: space-between;
	&__author {
		display: flex;
		@include adaptiveValue("gap", 12, 6);
		
	}

	&__avatar {
	}

	&__info {
	}

	&__title {
		font-weight: 500;
		font-size: 24px;
		
		line-height: math.div(35 , 24);		
		color: #F5FBF2;
		@media (max-width: em(1267.99)){
			font-size: 18px;
		}
	}

	&__contacts {
		font-weight: 400;
			font-size: 18px;
			line-height: math.div(35 , 18);			
			color: #BDAAC1;
			@media (max-width: em(1267.99)){
				font-size: 14px;
			}
	}
}
.info-card-categories {

	&__likes {
		
	}
}
.likes-info-card-categories {
	display: flex;
	align-items: center;
	justify-content: center;
	&__icon {
		
		&:not(:last-child) {
			@include adaptiveValue("padding-right", 9, 4);
			
	  }
	
	}

	&__amount {
		font-weight: 400;
		font-size: rem(24);
		line-height: math.div(35 , 24);
		top: 0;
		color: #76607A;
		@media (max-width: em(1267.99)){
			font-weight: 300;
		}
	}
}
.bid-card-categories {
	display: flex;
	align-items: center;
	justify-content: space-between;
	

	&__title {
		font-weight: 400;
		font-size: rem(20);
		line-height: math.div(35 , 20);
		color: #C6BFC8;
		@media (max-width: em(1267.99)){
			font-size: 20px;
		}
	}

	&__crypto {
		font-family: 'Oxanium';
		font-weight: 700;
		font-size: rem(20);
		line-height: math.div(35 , 20);
		color: #F5FBF2;
		@media (max-width: em(1267.99)){
			font-size: 16px;
		}	
	}
}
.card-auctions {

	&__more {
	}
}
.button {
}
.auctions {

	&__lights {
	}
}
.lights-auctions {
}
